<Solution>
    <Project Path="src/AbyssMod/AbyssMod.csproj" />
    <Project Path="tests/AbyssMod.Tests/AbyssMod.Tests.csproj" />
    <Project Path="../Utility/src/Utility/Utility.csproj" />
</Solution>
